body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: purple;
  text-align: center;
}

.card {
  background-color: aqua;
  border-radius: 25px;
  position: relative;
  margin: 5px 50px;
  float: right;
}

.recipeImg {
  height: 100px;
}

.ingList {
  list-style: none;
}

ul li {
  margin-right: 10%;
}


.instructions {
  list-style: none;
}

.form  {
  background-color: aqua;
  border-radius: 25px;
  position: relative;
  margin: 5px 50px;
  float: left;
}


.recipeTitle {
  border: orange solid 2px;
  font-size: larger;
  font-weight: bold;
  list-style: none;
}

.imgStyle {
}